@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.register-form-forgot {
  float: right;
}
.ant-col-rtl .register-form-forgot {
  float: left;
}
.register-form-button {
  width: 100%;
}
