@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.login-form-recover {
  float: right;
}
.ant-col-rtl .login-form-recover {
  float: left;
}
.login-form-button {
  width: 100%;
}
