@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.reset-form {
  float: right;
}
.ant-col-rtl .reset-form {
  float: left;
}
.reset-form-button {
  width: 100%;
}
