@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.ant-input-group-wrapper {
  margin-bottom: 10px;
}

.change-password {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.change-password .ant-form-item {
  margin-bottom: 0;
}